## Pandas Serisi Oluşurmak

In [5]:
import pandas as pd

In [6]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
pd.Series([10,22,322,34,5])

0     10
1     22
2    322
3     34
4      5
dtype: int64

# indexlerle beraber tutar

In [26]:
seri = pd.Series([10,22,322,34,5])

In [9]:
type(seri)

pandas.core.series.Series

# Serinin özelliklerini okuyabiliriz

In [10]:
seri.axes

[RangeIndex(start=0, stop=5, step=1)]

In [11]:
seri.dtype

dtype('int64')

# büyüklüklerini sorgulayabiliriz

In [12]:
seri.size

5

# boyutlarını sorgulayabiliriz

In [13]:
seri.ndim

1

# içindeki değerleri sorgulayabliriz

In [14]:
seri.values

array([ 10,  22, 322,  34,   5], dtype=int64)

# Head ile baştan Tail ile sondan istediğimiz kadar değeri görebiliriz

In [15]:
seri.head(3)

0     10
1     22
2    322
dtype: int64

In [16]:
seri.tail(3)

2    322
3     34
4      5
dtype: int64

## index isimlendirmesi

In [17]:
pd.Series([99,22,332,94,5])

0     99
1     22
2    332
3     94
4      5
dtype: int64

# indexleri BAŞKA SAYILARLA değiştirme

In [32]:
pd.Series([99,22,332,94,5], index = [1,3,5,7,9])

1     99
3     22
5    332
7     94
9      5
dtype: int64

# indexleri string olarak değiştirme

In [33]:
pd.Series([99,22,332,94,5], index = ["a", "b", "c", "d", "e"])

a     99
b     22
c    332
d     94
e      5
dtype: int64

In [20]:
seri = pd.Series([99,22,332,94,5], index = ["a", "b", "c", "d", "e"])

In [21]:
seri["a"]

99

In [22]:
seri["a": "c"]

a     99
b     22
c    332
dtype: int64

# sözluk uzerinden liste oluşturmak

In [23]:
sozluk = {"reg":10, "log":11, "cart" :12}

In [24]:
seri = pd.Series(sozluk)
seri

reg     10
log     11
cart    12
dtype: int64

# iki seriyi birleştirererk seri oluşturma

In [25]:
pd.concat([seri,seri])

reg     10
log     11
cart    12
reg     10
log     11
cart    12
dtype: int64