## Gözlem ve değişken seçimi : loc & iloc

In [3]:
import numpy as np
import pandas as pd
m = np.random.randint(1,30, size = (10,3))
df = pd.DataFrame(m, columns = ["var1", "var2", "var3"])
df

   var1  var2  var3
0    14    14    27
1    20     5    15
2    10    29     1
3     6    23    13
4    28     8     1
5     5     9     9
6    11    10     9
7    18     4    28
8    21    10    23
9    23    13    16

# loc : tanımlandığı şekli ile seçim yapmak için kullanılır

In [11]:
df.loc[0:3]

   var1  var2  var3
0    14    14    27
1    20     5    15
2    10    29     1
3     6    23    13

# iloc : alışık olduğumuz indexleme mantığıyla seçim yapar

In [12]:
df.iloc[0:3]

   var1  var2  var3
0    14    14    27
1    20     5    15
2    10    29     1

In [18]:
df.iloc[0,0]

14

In [19]:
df.iloc[0:3,:2]

   var1  var2
0    14    14
1    20     5
2    10    29

In [20]:
df.loc[0:3,"var3"]

0    27
1    15
2     1
3    13
Name: var3, dtype: int32

In [21]:
df.iloc[0:3, "var3"]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

In [22]:
df.loc[0:3, "var3"]

0    27
1    15
2     1
3    13
Name: var3, dtype: int32

In [23]:
df.iloc[0:3, 1:3]

   var2  var3
0    14    27
1     5    15
2    29     1

In [24]:
df.iloc[0:3]

   var1  var2  var3
0    14    14    27
1    20     5    15
2    10    29     1

In [25]:
df.iloc[0:3]["var3"]

0    27
1    15
2     1
Name: var3, dtype: int32